body{
    background-image: linear-gradient( 85.2deg,  rgba(33,3,40,1) 7.5%, rgba(65,5,72,1) 88.7% );
}

/* App.css */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header, .footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  
  .main {
    flex: 1;
    background-color: #e9ecef;
    padding: 20px;
  }
  

