body,html{
  padding: 0;
  font-family: 'Kalam', cursive;

  margin: 0;
  min-height: 100vh;
  background: hsla(212, 35%, 58%, 1); 

  background: linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6D90B9", endColorstr="#BBC7DC", GradientType=1 );
}

.container__item{
  min-height: 100vh;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
  "header header"
  "main main"
}


.header{
  grid-area: header;

}

.main{
  min-height: 100vh;
  grid-area: main;
  display: grid;
  gap: 20px;
  grid-template-columns: 150px 750px 800px 400px 150px ;
  grid-template-rows: 160px 400px 240px   ;
  grid-template-areas:
  ". . . . ."
  ". car_Imagen info_car tech_info ."
  ".  car_Imagen awards tech_info ."
  ;
  
}

.stack__Car{
  grid-area: info_car;
  align-self: center;
  
}

.car_Imagen {
  grid-area: car_Imagen;
  justify-items: center;
  align-content: center;
  background: rgba(255, 255, 255, 0.342); /* Color blanco con transparencia */
  border-radius: 10px;

}

.tech_info{
  grid-area: tech_info;
  height: 800px;
}

.awards{
  grid-area: awards;
}



@media (width < 900px){
.main{
    min-height: 100vh;
    grid-template-areas:
  ". . . ."
  ". car_Imagen . ."
  ". tech_info . ."
  ;

  }
  

}



